doctype html
html
  head
    link(rel='stylesheet', href='https://use.typekit.net/zog2wst.css')
    link(rel='stylesheet', href='../css/CreatorConnect.css')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title CreatorConnect

  
  body(onload='loadUsers(1)')
    h1
      span(style='font-size:1.5em;') C
      | reator
      span(style='font-size:1.5em;') C
      | onnect
    .parent
      .searchBar
        input#myInput(type='text', onkeyup='searchBar()', placeholder='Search through names and skills...')
  
  if totalUsers <= 9
    -masterInd = 0
    -var totalPages = 1
    a.totalCount(href='#') Total Users: #{totalUsers}
      div#allUsers
        div.container#firstUsers 
          each user in users
            div.card(id= "searchUsers" + masterInd)
              h1.name= user.name
              p.email= user.email
              p.skillsHead Skills:
              ul.skillsArr
                li
                each skill in user.skills
                  p #{skill}
              p 
          -masterInd+=1
  else if (totalUsers <= 18 && totalUsers > 9)
    -var masterInd = 0;
  
    a.totalCount(href='#') Total Users: #{totalUsers}
    -var totalPages = Math.ceil(totalUsers / 9)
    -var index = 0
    
      while index != totalPages
        -index = index + 1
        a.between(onclick='loadUsers(' + index + ')')= index

      
      div.container#firstUsers
        each user in users
          while masterInd != 9
            div
            .card(id= "searchUsers" + masterInd)
              h1.name= users[masterInd].name
              p.email= users[masterInd].email
              p.skillsHead Skills:
              ul.skillsArr
                li
                each skill in users[masterInd].skills
                  p #{skill}
              p
            -masterInd+=1
      
      div.container#finalUsers
        each user in users
          while masterInd != totalUsers
            div
            .card(id= "searchUsers" + masterInd)
              h1.name= users[masterInd].name
              p.email= users[masterInd].email
              p.skillsHead Skills:
              ul.skillsArr
                li
                each skill in users[masterInd].skills
                  p #{skill}
              p
            -masterInd+=1
  else 
    -var masterInd = 0;
  
    a.totalCount(href='#') Total Users: #{totalUsers}
    -var totalPages = Math.ceil(totalUsers / 9)
    -var index = 0
    
      while index != totalPages
        -index = index + 1
        a.between(onclick='loadUsers(' + index + ')')= index
      
      
      div.container#firstUsers
          each user in users
            while masterInd != 9
              div
              .card(id= "searchUsers" + masterInd)
                h1.name= users[masterInd].name
                p.email= users[masterInd].email
                p.skillsHead Skills:
                ul.skillsArr
                  li
                  each skill in users[masterInd].skills
                    p #{skill}
                p
              -masterInd+=1

    - for ( i=2; i < totalPages; i++ ){
        div.container( id= i)
          -var inCount = 0
            each user in users
              while inCount != 9
                div
                .card(id= "searchUsers" + masterInd)
                  h1.name= users[masterInd].name
                  p.email= users[masterInd].email
                  p.skillsHead Skills:
                  ul.skillsArr
                    li
                    each skill in users[masterInd].skills
                      p #{skill}
                  p
                -masterInd+=1
                -inCount+=1
        -}
      
    div.container#finalUsers
        each user in users
          while masterInd != totalUsers
            div
            .card(id= "searchUsers" + masterInd)
              h1.name= users[masterInd].name
              p.email= users[masterInd].email
              p.skillsHead Skills:
              ul.skillsArr
                li
                each skill in users[masterInd].skills
                  p #{skill}
              p
            -masterInd+=1
                  

  script.
        function hideButtons()
        {
          var x = document.getElementsByTagName("a");
          for (i = 0; i < x.length; i++) {
            x[i].style.visibility = 'hidden';
          }       
        }
        function showButtons()
        {
          var x = document.getElementsByTagName("a");
          for (i = 0; i < x.length; i++) {
            x[i].style.visibility = 'visible';
          }       
        }
        function showTotalUsers()
        {
          var x = document.getElementsByClassName("totalCount");
          for (i = 0; i < x.length; i++) {
            x[i].style.visibility = 'visible';
          }
        }
        function hideInitial()
        {
          var x = document.getElementById("firstUsers");
            x.style.display = "none";
        }

        function showInitial()
        {
          var x = document.getElementById("firstUsers");
            x.style.display = "flex";
        }

        function hideLast()
        {
          var x = document.getElementById("finalUsers");
            x.style.display = "none";
        }

        function showLast()
        {
          var x = document.getElementById("finalUsers");
            x.style.display = "flex";
          
        }

        function hideSpecific(i)
        {
            var x = document.getElementById(i);
              x.style.display = "none";
        }

        function showSpecific(int)
        {
          var x = document.getElementById(int)
              x.style.display = "flex";
        }

        function loadUsers(pageNumber)
        {

          if(pageNumber == 1)
          {
            if(pageNumber == 1 && #{totalUsers} <= 9)
            {
              showInitial()  
            }
            else
            {
              hideLast()
              for(i = 2; i < #{totalPages}; i++)
              {
                hideSpecific(i)
              }  
              showInitial()
            }
           
          }
          else if(pageNumber < #{totalPages})
          {
            hideInitial()
            hideLast()
            for(i = 2; i < #{totalPages}; i++)
            {
              hideSpecific(i)
            }  
            showSpecific(pageNumber)
          }
          else
          {
            hideInitial()
            for(i = 2; i < #{totalPages}; i++)
            {
              hideSpecific(i)
            }  
            showLast()
          }
        }
        function searchBar() 
        {
          hideButtons()
          showTotalUsers()
          showInitial()
          for(i = 2; i < #{totalPages}; i++)
          { 
            showSpecific(i)
          } 
          showLast()
          var input, filter;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          if(filter.length === 0)
          {
            showButtons()
            showInitial()
            for(i = 2; i < #{totalPages}; i++)
            { 
              hideSpecific(i)
            } 
            hideLast()
          }
          else
          {
            searchResults = []
            userText = []
            for(i = 0; i < #{totalUsers}; i++)
            {
              div = document.getElementById("searchUsers" + i);
              userText.push(div.innerText)
            } 
            for(i = 0; i < #{totalUsers}; i++)
            {
              searchResults = []
              if (userText[i].toUpperCase().indexOf(filter) > -1) 
              {
                div = document.getElementById("searchUsers" + i)
                searchResults.push(div)
                console.log(searchResults)
                div.style.display = ""
              } 
              else 
              {
                div = document.getElementById("searchUsers" + i);
                div.style.display = "none";
              }
            }
          }
        }